body{
    background-color: #fafafa;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

h1{
    color:rgb(160, 65, 65);
    text-align: center;
    text-decoration: underline;
}

nav{
    background-color: #f2f2f2;
    text-align: center;
    font-size: 1.2em;
}
nav ul{
    padding: 0;
}
nav li{
    display: inline-block;
    margin: 20px;
}

.nav-link{
    text-decoration: none;
    color:rgb(200, 113, 113);
}

h2, .title-p{
    text-align: center;
    color: rgb(14, 74, 116);
}

ol li{
    color: indianred;
}

ul li{
    color: rgb(14, 74, 116);

}

#hakkimizda{
    
    background-color: indianred;
    text-align: center;
    color: white;
    font-size: bold;

}

.warning{
    color: yellow;
}